h1{

  text-align:center;
 
}

.carro{
  background:#111;
  border-radius: 4px;
width: auto;
padding: 20px;
content: 10px;
margin: 41px;

}
.bicicleta{
  background:#111;
  border-radius: 4px;
width: auto;
padding: 20px;
content: 10px;
margin: 41px;

}
a{
  text-decoration: none;
 
}
span{
  color:#febe01

}
p{
  color:#b2b2b2;
}
h2{
  color:white;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
button{
  background: #febe01;
  border-radius: 4px;
}

